* {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui;
}

.section-add {
  display: none;
  flex-direction: column;
  height: 350px;
  width: 1000px;
  border-radius: 7px;
  background-color: #36393f;
  border: 1px solid #40444b;
  margin-top: 30px;
}

.titulo {
  font-size: 19px;
  font-weight: 600;
  margin: 30px 0 20px 30px;
  color: white;
}

.titulo-label {
  margin: 0 0 0 30px;
  font-size: 14px;
  color: rgb(185, 187, 190);
  font-weight: 500;
}

.titulo-input {
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(64, 68, 75);
  border: none;
  border-radius: 5px;
  height: 42px;
  width: 940px;
  margin: 5px 0 20px 30px;
  padding: 10px;
  color: white;
}

.descricao-textarea {
  max-height: 80px;
  min-height: 80px;
  max-width: 940px;
  min-width: 940px;
}

.container-botoes {
  display: flex;
  gap: 15px;
}

.btn-salvar-jogos,
.btn-salvar-filmes,
.btn-salvar-series {
  margin-left: 30px;
  background-color: rgb(88, 101, 242);
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 75px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.btn-cancell-jogos,
.btn-cancell-filmes,
.btn-cancell-series {
  cursor: pointer;
  margin: 0;
  height: 40px;
  font-weight: 500;
  width: 94px;
  color: rgb(185, 187, 190);
  background-color: rgb(64, 68, 75);
}
