* {
  font-family: ui-sans-serif, system-ui;
}

.add-bar {
  margin: 40px 0 0 0;
  align-items: center;
}

.jogos {
  display: flex;
  justify-content: space-between;
}

.filmes {
  display: none;
  justify-content: space-between;
}

.series {
  display: none;
  justify-content: space-between;
}
.button-jogos {
  font-size: 1rem;
  font-family: ui-sans-serif, system-ui;
  font-weight: 600;
  width: 180px;
  height: 40px;
}
.ico-mais {
  font-size: 1.5rem;
  padding: 5px;
}

h1 {
  font-size: 1.6rem;
  color: white;
  font-family: ui-sans-serif, system-ui;
}
