.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1900px;
  margin: 50px auto;
  padding: 20px;
}

.nav-tabs {
  display: flex;
  height: 60px;
  width: 1000px;
  background-color: rgb(54, 57, 63);
  gap: 20px;
  align-items: center;
  border-radius: 7px;
  padding: 0 10px;
  border: 1px solid #40444B;
}

.buttons-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
  gap: 10px;
  color: white;
  background-color: rgb(54, 57, 63);
  border: none;
  font-size: 20px;
  border-radius: 8px;
}

.buttons-sections:hover {
  color: #ffffff;
  background-color: #b9bbbe0c;
}

.counter {
  background-color: #40444b;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}

.btn-cor {
  background-color: #5865f2;
}
