.main-container {
  display: flex;
  max-width: 1150px;
  margin: 50px auto;
  padding: 20px;
  /* background-color: black; */
}

.nav-tabs {
  display: flex;
  height: 60px;
  width: 1000px;
  margin: 0 30px 32px;
  background-color: rgb(54, 57, 63);
  gap: 20px;
  align-items: center;
  flex-direction: row;
  border-radius: 7px;
}

.buttons-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
  gap: 10px;
  color: white;
  background-color: #5865f2;
  border: none;
  font-size: 20px;
  border-radius: 8px;
}

.buttons-sections:hover {
  color: #ffffff;
  background-color: #5865f2d0;
}

.counter {
  background-color: #40444B;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}
